/node_modules
/public/hot
/public/dist
/public/fonts
/public/storage
/public/uploads/0000
/storage/*.key
storage/app/*
!storage/app/public/
storage/app/public/*
!storage/app/public/demo/
/vendor
/.idea
/resources/ckeditor/node_modules/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/resources/admin/scss/css
/public/css
/public/module/user/css
/public/module/tour/css
/public/module/news/css
/public/module/media/css
/public/module/booking/css
/storage/installed
plugins/Hotel/Resources/assets/css/
